body {
    line-height: 1.6;
    color: #2a3333;
    background-color: #fff;
    height: 100%;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
}

header {
    text-align: center;
    background-image: url("../img/startup-593327_1280.jpg");
    background-repeat: no-repeat;
    color: #ecfaff;
    background-color: #8d1450;
    opacity: 1;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 75px;
}

header h1 {
    color: #ecfaff
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}
section h2 {
    text-align: center;
}
section h3 {
    color: #0E83CD;
}

div.speciality h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
div.speciality p {
    text-align: center;
}

div.project  {
    margin-top: 50px;
    margin-bottom: 20px;
}
div.project p {
    margin-top: 30px;
}

div.developers img {
    margin-top: 50px;
    margin-bottom: 20px;
}
div.developers h3 {
    text-align: center;
}

div.contact  {
    margin-top: 50px;
    margin-bottom: 20px;
}
div.contact h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
